<div class="align-left dimmed">
  <div class="thin">{{ errors.length }} Errors</div>
  <ul>
    {% for error in errors %}
      <li>
        <span>Error {{ error.status }}:
        </span>
        <span class="thin">{{ error.message }}</span>
      </li>
    {% endfor %}
  </ul>
</div>