/* Magic Mirror
 * Module: MMM-FF-multigeiger
 *
 * By Michael Trenkler
 * ISC Licensed.
 */
.MMM-FF-multigeiger .charts .sensorlist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MMM-FF-multigeiger .charts .graph-wrapper {
  width: calc(100vw - var(--gap-body-left) - var(--gap-body-right));
  height: calc(40vw - var(--gap-body-left) - var(--gap-body-right));
}

.MMM-FF-multigeiger .charts .graph-wrapper svg {
  width: 100%;
  height: 100%;
}

.MMM-FF-multigeiger .charts .sensorlist-item {
  margin: 1rem 0.5rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 7rem;
}

.MMM-FF-multigeiger .charts .sensorlist-item.disabled {
  opacity: 0.3;
}

.MMM-FF-multigeiger .charts .sensorlist-item.unreachable {
  opacity: 0.6;
}

.MMM-FF-multigeiger .charts .sensorlist-item .chart-color {
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: .2em;
}

.MMM-FF-multigeiger .charts .sensorlist-id {
  font-size: 0.5rem;
}

.MMM-FF-multigeiger .charts .sensorlist-icon-indoor {
  font-size: 0.75rem;
}

.MMM-FF-multigeiger .charts .sensorlist-icon-status {
  opacity: 0.25;
  font-size: 0.75em;
}

.MMM-FF-multigeiger .charts .sensorlist-icon-missing-data {
  opacity: 0.25;
  font-size: 0.75em;
}

.MMM-FF-multigeiger .charts .sensorlist-current {
  height: 2.5rem;
  font-size: 2rem;
  position: relative;
}

@-webkit-keyframes sensorlist-show {
  from {
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sensorlist-show {
  from {
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes sensorlist-hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes sensorlist-hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

.MMM-FF-multigeiger .charts .sensorlist-current-cpm,
.MMM-FF-multigeiger .charts .sensorlist-current-svt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.5rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.MMM-FF-multigeiger .charts .sensorlist-current-cpm,
.MMM-FF-multigeiger .charts .sensorlist-current-svt {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.MMM-FF-multigeiger .charts .sensorlist-current-cpm.show,
.MMM-FF-multigeiger .charts .sensorlist-current-svt.show {
  -webkit-animation: sensorlist-show 0.4s ease-out 1 forwards;
          animation: sensorlist-show 0.4s ease-out 1 forwards;
}

.MMM-FF-multigeiger .charts .sensorlist-current-cpm.hide,
.MMM-FF-multigeiger .charts .sensorlist-current-svt.hide {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: sensorlist-hide 0.4s ease-out 1 forwards;
          animation: sensorlist-hide 0.4s ease-out 1 forwards;
}

.MMM-FF-multigeiger .charts .current-value {
  font-weight: 300;
  font-size: 1em;
}

.MMM-FF-multigeiger .charts .current-label {
  font-weight: 400;
  font-size: 0.4em;
  width: 2rem;
}

.MMM-FF-multigeiger .charts .sensorlist-lastseen {
  font-size: 0.6rem;
  margin: 0.25rem;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.MMM-FF-multigeiger .charts .sensorlist-description {
  margin: 0.5rem;
}

.MMM-FF-multigeiger .charts .sensorlist-name {
  font-size: 0.5rem;
}

.MMM-FF-multigeiger .charts .sensorlist-address {
  font-size: 0.5rem;
}

.MMM-FF-multigeiger .charts .sensorlist-address-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MMM-FF-multigeiger .charts .sensorlist-minmax {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.5rem;
  width: 2rem;
  text-align: right;
  margin-right: 0.35rem;
}

.MMM-FF-multigeiger .charts .sensorlist-min {
  color: #99ff33;
  white-space: nowrap;
}

.MMM-FF-multigeiger .charts .sensorlist-max {
  color: #cc3300;
  white-space: nowrap;
}

.MMM-FF-multigeiger .charts .sensorlist-region {
  display: none;
}

.MMM-FF-multigeiger .charts .sensorlist-type {
  display: none;
}
/*# sourceMappingURL=MMM-FF-multigeiger-charts.css.map */