/* MagicMirror²
 * Module: MMM-FF-multigeiger
 *
 * By Michael Trenkler
 * ISC Licensed.
 */

.MMM-FF-multigeiger {
  font-weight: 400;
  line-height: 1;
  padding-bottom: 1rem;

  .loading {
    display: block;
    font-weight: 300;
    word-wrap: nowrap;
    text-align: center;
    opacity: 0.25;
    margin: 1rem;
  }

  @keyframes MMM-FF-multigeiger-loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-spinner-icon {
    animation: MMM-FF-multigeiger-loading-spinner 1s linear infinite;

    .MMM-FF-multigeiger {
      &.module-header {
        margin: 1rem 1rem 0 1rem;
      }

      & .module-content {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
      }
    }
  }
}

@import "MMM-FF-multigeiger-list-horizontal";
@import "MMM-FF-multigeiger-list-vertical";
@import "MMM-FF-multigeiger-charts";
